<div class="panel panel-default">
    <div class="panel-heading">
        <h1>{{contact.name}}</h1>
            <div class="row">
                <div class="col-sm-6">
                    <img src="{{contact.imageUrl}}" alt="image of {{contact.name}}">
                </div>
                <div class="col-sm-6" style="display:flex; justify-content:end">
                    <a 
                        class="btn btn-primary" 
                        style="margin-right:10px;"
                        routerLink="edit"
                        >Edit</a>
                    <a class="btn btn-danger" (click)="onDelete()">Delete</a>
                </div>
        </div>
    </div>
    <div class="panel-body">
        <p>Email: {{contact.email}}</p>
        <p>Phone: {{contact.phone}}</p>
        <p *ngIf="groupContacts?.length > 0">Contacts in team:</p>
    </div>
    <div 
            class="row" 
            id="groupList"
            style="min-height: 3rem;"
            >
            
            <div *ngFor="let contact of groupContacts; let i = index">
              <div>
                <cms-contact-item class="col-sm-11" [contact]="contact"></cms-contact-item>
              </div>
            </div>
          </div>
  </div>
