<div class="list-group-item " style="margin-bottom:10px">
  
  <!-- Option incomplete -->
  <div class="row d-flex justify-content-around"  *ngIf="todo.status==='incomplete'">
    <div style="margin-bottom:20px">
      <h3 class="" routerLinkActive="active">{{todo.name}}
      </h3>
      <p>Description: {{todo.description}} </p>
      <span class="badge badge-info" style="font-size: 30px;">${{todo.price}}</span>
    </div>
    <div>
      <div class="loader"></div>
      <p class="text-secondary" style="font-size:20px">Completing....</p>
    </div>
    <div>
      <p class="text-dark" style="font-size:30px">Are you<br> done?</p>
      <button class="btn btn-success" data-toggle="modal" [attr.data-target]="'#modal'+ todo.id">YES</button>
    </div>
  </div>

  <!-- Option under approval -->
  <div class="row d-flex justify-content-around" *ngIf="todo.status==='waiting'">
    <div style="margin-bottom:20px">
      <h3 class="" routerLinkActive="active">{{todo.name}}
      </h3>
      <p>Description: {{todo.description}} </p>
      <span class="badge badge-info" style="font-size: 30px;">${{todo.price}}</span>
    </div>
    <div>
      <img class="img-fluid" src="../../../assets/images/waiting.png" style="width:60px; height:auto"
        alt="waiting image">
      <p class="text-secondary" style="font-size:20px">Waiting approval...</p>
    </div>
    <div>
      <p class="text-dark" style="font-size:30px">Almoust<br> done!!!</p>
      <button class="btn btn-success" routerLink="/todos">Go for another</button>
    </div>
  </div>


  <!-- Option completed -->
  <div class="row d-flex justify-content-around" *ngIf="todo.status==='completed'">
    <div style="margin-bottom:20px">
      <h3 class="" routerLinkActive="active">{{todo.name}}
      </h3>
      <p>Description: {{todo.description}} </p>
      <span class="badge badge-info" style="font-size: 30px;">${{todo.price}}</span>
    </div>
    <div>
      <img class="img-fluid" src="../../../assets/images/completed.png" style="width:60px; height:auto"
        alt="completed image">
      <p class="text-secondary" style="font-size:20px">Completed</p>
    </div>
    <div>
      <p class="text-dark" style="font-size:30px">Congratulations!!!</p>
      <a class="btn btn-success" routerLink="/todos" style="cursor:pointer" >Go for another</a>
    </div>
  </div>


</div>
<!-- Modal -->
<div class="modal fade" id="modal{{todo.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="font-size:30px">
          Finish the chore " {{todo.name}} "<br>
          Are ayou sure?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" (click)="onFinish(todo.id)">Finish Chore</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
      </div>
    </div>
  </div>
</div>
