<div class="card" style="width: 10rem; margin-bottom:10px">
    <img src="{{user.imgUrl}}" class="card-img-top" alt="image of {{user.name}}">
    <div class="card-body">
      <h5 class="card-title">{{user.name}}</h5>
      <p class="card-text text-info">Budget {{myBudget}} dollars</p>
      <p class="card-text text-success">Completed tasks</p>
      <p class="card-text text-warning">Waiting Tasks</p>
      <p class="card-text text-danger">Incomplete Tasks</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>