<div class="container">
  <div class="row justify-content-center" style="margin:30px 0">
    <div class="col-lg-8 col-sm-12">
      <app-private-profile></app-private-profile>
      <div class="list-group-item" style="margin:30px 0">
        <h2>My Budget</h2>
        <p *ngIf="myBudget === 0 ,else realBudget" style="font-size:70px">0 dollars</p>
        <ng-template #realBudget>{{myBudget}} dollars</ng-template>

      </div>
      
      <h2 class="text-info">My Todo´s</h2>
      <div class="list-group">
        <app-private-item *ngFor="let todo of myTodos" [todo]="todo"></app-private-item>
      </div>

    </div>

  </div>
</div>
