<div class="container">
  <div class="row justify-content-center" style="margin:30px 0px">
    <div class="col-sm-12 col-lg-8">
      <!-- Available todos -->
      <h1>Available Todos</h1>
      <table class="table table-info">
        <thead>
          <tr>
            <th *ngFor="let column of headers">{{column}}</th>

          </tr>
        </thead>
        <tbody class="justify-content-center">
          <tr *ngFor="let todo of availableTodo">
            <td class="table-info">
              {{todo.name}}
            </td>
            <td class="table-info">
              {{todo.description}}
            </td>
            <td class="table-info">
              {{todo.executer_id}}
            </td>
            <td class="table-info">
              {{todo.price}}
            </td>
            <td class="table-info">
              {{todo.status}}
            </td>
            <td>
              <a style="cursor: pointer;" (click)="onModalDelete(todo.id, todo.name)"><img style="width:40px"
                  src="../../assets/images/trash.png" alt="Trash icon"></a>
              <!-- Button trigger modal -->
              <button id="openModalButton" type="button" [hidden]="true" class="btn btn-primary" data-toggle="modal"
                data-target="#exampleModal">
                Launch hidden modal
              </button>

            </td>
          </tr>
        </tbody>
      </table>
      <p>Add new Task <button class="btn btn-success" (click)="openForm()"><i class="fa fa-plus" aria-hidden="true"></i> Add</button></p>
      <ng-container *ngIf="open">
        
        <div class="row" style="margin:30px 0">
            <div class="col-sm-12 col-md-8">
            <h3 class="text-info">Have fun with a new Todo</h3>
              <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="mb-3">
                  <label for="exampleInputName" class="form-label">Nombre</label>
                  <input [ngModel]= "todo?.name"
                         type="text" 
                         class="form-control" 
                         id="exampleInputName" 
                         name="name"
                         aria-describedby="nameHelp" 
                         autofocus
                         required
                         #name="ngModel">
                </div>
                <div class="mb-3">
                  <label for="exampleInputDescription" class="form-label">Description</label>
                  <input type="text" 
                         class="form-control" 
                         id="exampleInputDescription"
                         name="description"
                         required
                         [ngModel]= "todo?.description"
                         #description="ngModel">
                </div>
                
                <div class="mb-3">
                    <label for="exampleInputPrice" class="form-label">Price</label>
                    <input type="number" 
                            class="form-control" 
                            id="exampleInputPrice"
                            name="price"
                            required
                            [ngModel]= "todo?.price"
                            #price="ngModel">
                </div>
                <!-- Alert Message -->
                <div class="alert alert-danger" *ngIf="(!name.valid && name.touched) || (!description.valid && description.touched) || (!price.valid && price.touched)">
                    All fields are required
                </div>
                
                <button type="submit" class="btn btn-block btn-info" [disabled]="!f.valid">Submit</button>
                <button type="button" class="btn btn-block btn-primary" (click)="closeForm()">Cancel</button>
              </form>
            </div>
          </div>
      </ng-container>
      <!-- Completed todos -->
      <h1>Completed Todos</h1>
      <table class="table table-success">
        <thead>
          <tr>
            <th *ngFor="let column of headers">{{column}}</th>

          </tr>
        </thead>
        <tbody class="justify-content-center">
          <tr *ngFor="let todo of completedTodo">
            <td class="table-success">
              {{todo.name}}
            </td>
            <td class="table-success">
              {{todo.description}}
            </td>
            <td class="table-success">
              {{todo.executer_id}}
            </td>
            <td class="table-success">
              {{todo.price}}
            </td>
            <td class="table-success">
              {{todo.status}}
            </td>
            <td>
              <a style="cursor: pointer;" (click)="onModalDelete(todo.id, todo.name)" data-toggle="tooltip" data-placement="top" title="Delete"><img style="width:40px"
                  src="../../assets/images/trash.png" alt="Trash icon"></a>
              <!-- Button trigger modal -->
              <button id="openModalButton" type="button" [hidden]="true" class="btn btn-primary" data-toggle="modal"
                data-target="#exampleModal">
                Launch hidden modal
              </button>

            </td>
          </tr>
        </tbody>
      </table>

      <!-- Waiting todos -->
      <h1>Waiting for approval Todos</h1>
      <table class="table table-warning">
        <thead>
          <tr>
            <th *ngFor="let column of headers">{{column}}</th>

          </tr>
        </thead>
        <tbody class="justify-content-center">
          <tr *ngFor="let todo of waitingTodo">
            <td class="table-warning">
              {{todo.name}}
            </td>
            <td class="table-warning">
              {{todo.description}}
            </td>
            <td class="table-warning">
              {{todo.executer_id}}
            </td>
            <td class="table-warning">
              {{todo.price}}
            </td>
            <td class="table-warning">
              {{todo.status}}
            </td>
            <td>
              <a style="cursor: pointer;" (click)="onModalDelete(todo.id, todo.name)" data-toggle="tooltip" data-placement="top" title="Delete"><img style="width:40px"
                  src="../../assets/images/trash.png" alt="Trash icon"></a>
              <a style="cursor: pointer;" (click)="onModalApprove(todo.id, todo.name, todo.executer_id)" data-toggle="tooltip" data-placement="top" title="Approve"><img style="width:40px"
                  src="../../assets/images/approved.png" alt="Approve icon"></a>

              <!-- Button trigger modal -->
              <button id="openModalButton" type="button" [hidden]="true" class="btn btn-primary" data-toggle="modal"
                data-target="#exampleModal">
                Launch hidden modal
              </button>

            </td>
          </tr>
        </tbody>
      </table>

      <!-- Incompleted todos -->
      <h1>Incompleted Todos</h1>
      <table class="table table-danger">
        <thead>
          <tr>
            <th *ngFor="let column of headers">{{column}}</th>

          </tr>
        </thead>
        <tbody class="justify-content-center">
          <tr *ngFor="let todo of incompletedTodo">
            <td class="table-danger">
              {{todo.name}}
            </td>
            <td class="table-danger">
              {{todo.description}}
            </td>
            <td class="table-danger">
              {{todo.executer_id}}
            </td>
            <td class="table-danger">
              {{todo.price}}
            </td>
            <td class="table-danger">
              {{todo.status}}
            </td>
            <td>
              <a style="cursor: pointer;" (click)="onModalDelete(todo.id, todo.name)" data-toggle="tooltip" data-placement="top" title="Delete"><img style="width:40px"
                  src="../../assets/images/trash.png" alt="Trash icon"></a>
              <!-- Button trigger modal -->
              <button id="openModalButton" type="button" [hidden]="true" class="btn btn-primary" data-toggle="modal"
                data-target="#exampleModal">
                Launch hidden modal
              </button>

            </td>
          </tr>
        </tbody>
      </table>
      <!-- Modal Delete -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalTitle">---</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="exampleModalContent" class="text-center" style="font-size:30px"></div>
            </div>
            <div class="modal-footer">
              <div #template></div>
              <button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
